<div class="form-container">
  <div class="form-card">
    @if(idContacto()){
    <h1 class="text-center">Editar contacto</h1>
    } @else {
    <h1 class="text-center">Nuevo contacto</h1>
    }
    <form (ngSubmit)="handleFormSubmission(newContactForm)" #newContactForm="ngForm">
      <div class="form-group">
        <label for="first-name" class="form-label">Nombre*</label>
        <input id="first-name" name="firstName" type="text" class="form-input" ngModel required="true" minlength="2"
          maxlength="20" #firstName="ngModel">
        @if (firstName.dirty && firstName.invalid) {
        <p class="error-message">El nombre es obligatorio y no puede ser una sola letra</p>
        }
      </div>
      <div class="form-group">
        <label for="last-name" class="form-label">Apellido</label>
        <input id="last-name" name="lastName" type="text" class="form-input" ngModel maxlength="20">
      </div>
      <div class="form-group">
        <label for="phone" class="form-label">Teléfono*</label>
        <input id="phone" name="number" type="text" class="form-input" ngModel required="true" minlength="3"
          maxlength="30">
      </div>
      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input id="email" name="email" type="email" class="form-input" ngModel maxlength="40">
      </div>
      <div class="form-group">
        <label for="address" class="form-label">Dirección</label>
        <input id="address" name="address" type="text" class="form-input" ngModel minlength="5">
      </div>
      <div class="form-group">
        <label for="company" class="form-label">Compañía</label>
        <input id="company" name="company" type="text" class="form-input" ngModel minlength="2">
      </div>
      <div class="form-group">
        <label for="image" class="form-label">URL Imagen</label>
        <input id="image" name="image" type="text" class="form-input" ngModel minlength="10">
      </div>
      @if (errorEnBack) {
      <p class="error-message">Error indeterminado, intente nuevamente.</p>
      }
      @if(idContacto()){
      <button class="btn btn-primary" style="width: 100%; margin-bottom: 16px;"
        [disabled]="newContactForm.invalid || isLoading">Guardar cambios</button>
      } @else {
      <button class="btn btn-primary" style="width: 100%; margin-bottom: 16px;"
        [disabled]="newContactForm.invalid || isLoading">Crear contacto</button>
      }
      @if(isLoading){
      <div style="text-align: center;">
        <app-spinner></app-spinner>
      </div>
      }
    </form>
  </div>
</div>